.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hoverbutton {

  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  cursor: pointer;
}

.dark{
  background-color: black;
  color:white
}

.light{
  background-color: white; 
  color: black;
  border: 2px solid black;
}

/*  toggle button */


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-small{
  width: 40px !important;
  height: 12px !important;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}


.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-small:before{
  top:1px;
  height: 10px !important;
  width: 10px !important;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* input:checked + .slider-small:before {
  -webkit-transform: translateX(20px) !important;
  -ms-transform: translateX(20px) !important;
  transform: translateX(20px) !important;
} */


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-small.round {
  border-radius: 10px !important;
}

.slider-small:before {
  border-radius: 50%;
}


/* toggle button */